<footer>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261039464'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261039464%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
  <br/>
  © 2015-2017 {{ site.author }}, All rights reserved.
  Powered by: <a href="http://jekyllcn.com/">Jekyll</a> 
  Theme by: <a href="https://codeasashu.github.io/hcz-jekyll-blog/">hcz-jekyll-blog</a>  <a href="https://walterlv.github.io/">walterlv</a>
</footer>
